.c-button {
  color: $white;
  background: $dark;
  display: inline-block;
  margin-bottom: $spacer/2;
  padding: $spacer $spacer*2 $spacer*1.2;
  &:hover {
    text-decoration: none;
    color: $white;
    // background: $black;
  }
  &--small {
    font-size: $font-size-xs;
    padding: $spacer/1.5 $spacer $spacer/1.2;
    &.c-button--outline {
      padding: calc(#{$spacer/1.5} - 2px) calc(#{$spacer} - 2px) calc(#{$spacer/1.2} - 2px);
    }
  }
  &--large {
    font-size: $font-size-lg;
  }
  &--rounded {
    border-radius: $border-radius;
  }
  &--pills {
    border-radius: 100px;
  }
  &--outline {
    // outline: 2px solid $dark;
    // outline-offset: -2px;
    border: 2px solid $dark;
    color: $dark;
    background: $white;
    padding: calc(#{$spacer} - 2px) calc(#{$spacer*2} - 2px) calc(#{$spacer*1.2} - 2px);
    &:hover {
      background: $dark;
    }
    @each $index, $color in $pageColors {
      &.c-button--#{$index} {
        border-color: $color;
        background: $white;
        color: $color;
        &:hover {
          background: $color;
          color: $white;
        }
      }
      &.c-button--white {
        color: $white;
        background: none;
        &:hover {
          color: $dark;
        }
      }
    }
  }
  &--block {
    display: block;
    width: 100%;
  }
  &--arrowright,
  &--arrowleft,
  &--email,
  &--send,
  &--cart,
  &--download,
  &--targetblank,
  &--phone {
    position: relative;
    padding-right: $spacer*4;
    &.c-button--small {
      padding-right: $spacer*2.5;
      &:after {
        right: $spacer;
      }
    }
    &:after {
      position: absolute;
      right: $spacer*1.75;
      top: 50%;
      transform: translateY(-50%);
      font-family: 'Material Icons';
    }
  }
  &--arrowright {
    &:after {
      content: '\e5cc';
    }
  }
  &--email {
    &:after {
      content: '\e0be';
    }
  }
  &--send {
    &:after {
      content: '\e163';
    }
  }
  &--cart {
    &:after {
      content: '\e547';
    }
  }
  &--download {
    &:after {
      content: '\e2c4';
    }
  }
  &--targetblank {
    &:after {
      content: '\e89e';
    }
  }
  &--phone {
    &:after {
      content: '\e0cd';
    }
  }
  &--arrowleft {
    padding-left: $spacer*3;
    padding-right: $spacer*2;
    &.c-button--small {
      padding-left: $spacer*2.5;
      padding-right: $spacer/1.5;
    }
    &:after {
      left: $spacer;
      right: auto;
      content: '\e5cc';
    }
  }
  &--ghost {
    background: none;
    border: 1px solid $white;
  }
  .material-icons {
    vertical-align: middle;
  }
}

@each $index, $color in $pageColors {
  .c-button--#{$index} {
    background: $color;
    color: $white;
    position: relative;
    overflow: hidden;
    transition: opacity .2s;
    &:hover {
      color: $white;
      background: $color;
      opacity: .8;
    }
  }
}

.c-button--depth {
  transition: .2s;
  box-shadow: 0 3px 2px 0 rgba($black,.1), 0 -3px 0 0 rgba($black,.2) inset;
  &:hover {
    box-shadow: 0 3px 4px 0 rgba($black,.1), 0 -2px 0 0 rgba($black,.2) inset;
  }
}

.c-button--white {
  color: $dark;
  &:hover {
    color: $dark;
  }
}

// gradient
[class*=c-button--gradient-] {
  position: relative;
  font-weight: bold;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    transition: width .2s;
    height: 100%;
    background: rgba($black, 0.05);
    z-index: 0;
  }
  span {
    position: relative;
    z-index: 1;
  }
  &:hover {
    &:before {
      width: 100%;
    }
  }
}
.c-button--gradient-warmflame {
  background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
}
.c-button--gradient-nightfade {
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}
.c-button--gradient-springwarmth {
  background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
}
.c-button--gradient-juicypeach {
  background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
}
.c-button--gradient-youngpassion {
  background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
}
.c-button--gradient-ladylips {
  background-image: linear-gradient(to top, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
}
.c-button--gradient-sunnymorning {
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}
.c-button--gradient-rainyashville {
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}
.c-button--gradient-frozendreams {
  background-image: linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%);
}
.c-button--gradient-winterneva {
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}
.c-button--gradient-dustygrass {
  background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
}
.c-button--gradient-temptingazure {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}
.c-button--gradient-heavyrain {
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}
.c-button--gradient-amycrisp {
  background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
}
.c-button--gradient-meanfruit {
  background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
}
.c-button--gradient-deepblue {
  background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
}
.c-button--gradient-ripemalinka {
  background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
}
.c-button--gradient-cloudyknoxville {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}
.c-button--gradient-malibubeach {
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}
.c-button--gradient-newlife {
  background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
}
.c-button--gradient-truesunset {
  background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
}
.c-button--gradient-morpheusden {
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}
.c-button--gradient-rarewind {
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}
.c-button--gradient-nearmoon {
  background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
}
.c-button--gradient-wildapple {
  background-image: linear-gradient(to top, #d299c2 0%, #fef9d7 100%);
}
.c-button--gradient-saintpetersburg {
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}
.c-button--gradient-ariellessmile {
  background-image: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
}
.c-button--gradient-plumplate {
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}
.c-button--gradient-everlastingsky {
  background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
}
.c-button--gradient-happyfisher {
  background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
}

.c-button--gradient-heavyrain,
.c-button--gradient-cloudyknoxville,
.c-button--gradient-saintpetersburg,
.c-button--gradient-everlastingsky {
  color: $dark;
  &:hover {
    color: $dark;
  }
}
