.c-label {
  display: inline-block;
  color: $white;
  line-height: 1;
  vertical-align: middle;
  background: $dark;
  padding: $spacer/4 $spacer/1.5 $spacer/3;
  font-size: 1.2rem;
  &--small {
    font-size: $font-size-xs;
  }
  &--radius {
    border-radius: $border-radius;
  }
  &--rounded {
    border-radius: 50px;
  }
  & + .c-label {
    margin-left: .25rem;
  }
}

@each $index, $color in $pageColors {
  .c-label--#{$index} {
    background: $color;
  }
}

.c-label--graylight {
  background: $grey-400;
}
