header.l-header.is-sticky(role='banner')
  .p-header.theme-dark
    .p-header-control#js-drawer-trigger
    .p-header-symbol
      .c-logo
        a(href="index.html").c-logo-primary MUJI
        span.c-logo-secondary CSS Framework
    .p-header-supplement
      a(href='#').c-button.c-button--small.c-button--blue.c-button--download.c-button--rounded ダウンロード
