nav.l-navigation.u-bg-graylight(role='navigation')#js-drawer-content
  .p-category-navigation
    ul#js-dashboard-navigation
      li
        a(href='/about.html') About
      li
        a(href='/component.html') Component
        ul
          li
            a(href='/component-aleart.html') Aleart
          li
            a(href='/component-button.html') Button
          li
            a(href='/component-label.html') Label
          li
            a(href='/component-card.html') Card
          li
            a(href='/component-table.html') Table
          li
            a(href='/component-figure.html') Figure
          li
            a(href='/component-list.html') List
          li
            a(href='/component-navigation.html') Navigation
          li
            a(href='/component-visualbox.html') Visual Box
          li
            a(href='/component-others.html') Others
      li
        a(href='/project.html') Project
        ul
          li
            a(href='/project-distance.html') Distance/History
          li
            a(href='/project-blog.html') Blog
      li
        a(href='/utility.html') Utility
        ul
          li
            a(href='/utility-font.html') Font
          li
            a(href='/utility-bg.html') Background
          li
            a(href='/utility-gradient.html') Gradient
          li
            a(href='/utility-maker.html') Maker
          li
            a(href='/utility-boxshadow.html') Boxshadow
          li
            a(href='/utility-ratiobox.html') Ratiobox
          li
            a(href='/utility-visible.html') Visible/Hidden
          li
            a(href='/utility-separator.html') Separator
          li
            a(href='/utility-others.html') Others
      li
        a(href='/theme.html') Theme
