header(role='banner')
  .p-header
    .p-header-symbol
      .c-logo
        a(href="#").c-logo-primary MUJI
        span.c-logo-secondary CSS Framework
    .p-header-menu
      input#nav-input.p-header-menu-checkbox(type='checkbox')
      label#nav-open.p-header-menu-trigger(for='nav-input')
        span
        span
        span
      label#nav-close.p-header-menu-close(for='nav-input')
      nav(role='navigation').p-header-menu-navigation
        ul.u-list-reset
          li
            a(href='about.html') About
          li
            a(href='component.html') Component
          li
            a(href='project.html') Project
          li
            a(href='utility.html') Utility
          li
            a(href='theme.html') Theme
        ul.u-list-reset
          li
            a(href='#')
              img(src='media/image/github-brands.svg' alt='github' width='20')
          li
            a(href='#')
              span.material-icons search
//- nav.c-horizontal-navigation
//-   ul.u-list-reset
//-     li
//-       a(href='#') menu01
//-     li
//-       a(href='#') menu02
//-     li
//-       a(href='#') menu03
//-     li
//-       a(href='#') menu04
//-     li
//-       a(href='#') menu05
//-     li
//-       a(href='#') menu06    
