header(role='banner')
  .p-header
    .p-header-symbol
      .c-logo
        a(href="#").c-logo-primary HYPHEN
        span.c-logo-secondary Design Office
    .p-header-menu
      input#nav-input.p-header-menu-checkbox(type='checkbox')
      label#nav-open.p-header-menu-trigger(for='nav-input')
        span
        span
        span
      label#nav-close.p-header-menu-close(for='nav-input')
      nav(role='navigation').p-header-menu-navigation
        ul.u-list-reset
          li
            a(href='#') About
          li
            a(href='#') Component
          li
            a(href='#') Project
          li
            a(href='#') Utility
          li
            a(href='#') Template
        ul.u-list-reset
          li
            a(href='#') sub
          li
            a(href='#') sub
//- nav.c-horizontal-navigation
//-   ul.u-list-reset
//-     li
//-       a(href='#') menu01
//-     li
//-       a(href='#') menu02
//-     li
//-       a(href='#') menu03
//-     li
//-       a(href='#') menu04
//-     li
//-       a(href='#') menu05
//-     li
//-       a(href='#') menu06    
