.p-header {
  display: flex;
  padding: $spacer $grid-gutter;
  align-items: center;
}

.p-header-symbol {
  a {
    color: $dark;
    display: inline-block;
    text-decoration: none;
  }
}



.p-header-menu {
  margin-left: auto;
  @include mq-lg {
    margin-left: $grid-gutter;
    flex: 1 0 auto;
  }
}

.p-header-menu-navigation {
  ul {
    margin: 0;
    padding: 0;
    @include mq-lg {
      display: flex;
    }
  }
  li {
    list-style: none;
    font-size: $font-size-sm;
  }
  a {
    opacity: .75;
    transition: opacity .3s;
    display: block;
    @include mq-lg {
      padding: $spacer;
    }
    &:hover {
      opacity: 1;
      text-decoration: none;
    }
  }
  @include mq-lg {
    display: flex;
    justify-content: space-between;
    flex: 1 0 auto;
    ul + ul {
      margin-left: auto;
    }
  }
  @include mq-mobile {
    position: fixed;
    z-index: 100;
    top: 0;
    right: 100%;
    width: calc(100% - 80px);
    height: 100vh;
    overflow-y: auto;
    background: $white;
    transition: all .3s;
    li {
      border-bottom: 1px solid $grey-200;
    }
    a {
      padding: $spacer*2;
    }
  }
}

#nav-input:checked ~ .p-header-menu-navigation {
  @include mq-mobile {
    right: 80px;
  }
}

.p-header-menu-checkbox {
  display:none;
}

.p-header-menu-trigger {
  margin-left: auto;
  margin-bottom: 0;
  display: inline-block;
  width: 30px;
  height: 40px;
  vertical-align: middle;
  cursor: pointer;
  position: relative;
  z-index: 101;
  @include mq-lg {
    display: none;
  }
  span {
    position: absolute;
    right: 0;
    height: 2px;
    width: 30px;
    background: $dark;
    display: block;
    content: '';
    transition: all .3s;
    &:nth-child(1) {
      top: 11px;
    }
    &:nth-child(2) {
      top: 50%;
      transform: translateY(-50%);
    }
    &:nth-child(3) {
      bottom: 11px;
    }
  }
}

.p-header-menu-close {
  display: none;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
  transition: .3s ease-in-out;
}

.p-header-menu-checkbox:checked ~ .p-header-menu-trigger {
  span {
    &:nth-child(1) {
      transform: rotate(45deg);
      background: $white;
      top: 19px;
    }
    &:nth-child(2) {
      opacity: 0;
    }
    &:nth-child(3) {
      transform: rotate(-45deg);
      background: $white;
      bottom: 19px;
    }
  }
}

.p-header-menu-checkbox:checked ~ .p-header-menu-close {
  display: block;
  opacity: .75;
}
