extends include/_layout.pug

block vars
  include include/_config.pug
  - var page = 'seconde'
  - var title = 'CSSフレームワーク'
  - var description = 'サイト説明文が入ります。サイト説明文が入ります。サイト説明文が入ります。サイト説明文が入ります。サイト説明文が入ります。サイト説明文が入ります。'

block content
  .theme-dashboard
    include include/_dashboard-header.pug
    .l-wrapper
      include include/_dashboard-navigation.pug
      main.l-main(role='main')
        section
          .c-visualbox.u-overlay-dotmesh.u-ratiobox-horizontal.u-ratiobox-landscape--lg(style='background-image:url(https://picsum.photos/id/1057/1000/800);')
            .c-visualbox-inner.c-visualbox-inner--center.c-visualbox-inner--middle
              h1 Component
          .l-container
            h2 コンポーネント一覧
            .l-row
              .l-col.l-col-sm-6.l-col-lg-4
                a(href='component-aleart.html').c-card.u-boxshadow-md.u-shape-rounded
                  figure
                    img(src='https://picsum.photos/id/420/600/400')
                  h3 アラート
                  p 注意喚起や緊急のお知らせ、送信完了などのサクセス表示などに。
              .l-col.l-col-sm-6.l-col-lg-4
                a(href='component-button.html').c-card.u-boxshadow-md.u-shape-rounded
                  figure
                    img(src='https://picsum.photos/id/421/600/400')
                  h3 ボタン
                  p ボタンのサイズや形、色など様々なバリエーションを揃えました。
              .l-col.l-col-sm-6.l-col-lg-4
                a(href='component-label.html').c-card.u-boxshadow-md.u-shape-rounded
                  figure
                    img(src='https://picsum.photos/id/426/600/400')
                  h3 ラベル
                  p お知らせやブログのカテゴリーやタクソノミー分けに使用できます。
              .l-col.l-col-sm-6.l-col-lg-4
                a(href='component-card.html').c-card.u-boxshadow-md.u-shape-rounded
                  figure
                    img(src='https://picsum.photos/id/428/600/400')
                  h3 カード
                  p 記事一覧やコンテンツへの導線表示の為にカードコンポーネントは役立ちます。
              .l-col.l-col-sm-6.l-col-lg-4
                a(href='component-table.html').c-card.u-boxshadow-md.u-shape-rounded
                  figure
                    img(src='https://picsum.photos/id/431/600/400')
                  h3 テーブル
                  p 料金表や会社概要などにテーブルコンポーネントは役立ちます。
              .l-col.l-col-sm-6.l-col-lg-4
                a(href='component-list.html').c-card.u-boxshadow-md.u-shape-rounded
                  figure
                    img(src='https://picsum.photos/id/235/600/400')
                  h3 リスト
                  p 様々なタイプのリスト表示をコンポーネントをご紹介します。
              .l-col.l-col-sm-6.l-col-lg-4
                a(href='component-navigation.html').c-card.u-boxshadow-md.u-shape-rounded
                  figure
                    img(src='https://picsum.photos/id/435/600/400')
                  h3 ナビゲーション
                  p 検索や詳細度の高い、補足的なローカルナビゲーションを数種類用意しました。
              .l-col.l-col-sm-6.l-col-lg-4
                a(href='component-visualbox.html').c-card.u-boxshadow-md.u-shape-rounded
                  figure
                    img(src='https://picsum.photos/id/535/600/400')
                  h3 ビジュアルボックス
                  p 画像とテキストの組み合わせによるユーザーに視覚で訴えるコンポーネント。
              .l-col.l-col-sm-6.l-col-lg-4
                a(href='component-form.html').c-card.u-boxshadow-md.u-shape-rounded
                  figure
                    img(src='https://picsum.photos/id/600/600/400')
                  h3 フォーム
                  p お問い合わせや相談用のコンタクトフォームをご用意しました。
