extends include/_layout.pug

block vars
  include include/_config.pug
  - var page = 'index'
  - var title = 'CSSフレームワーク'
  - var description = 'サイト説明文が入ります。サイト説明文が入ります。サイト説明文が入ります。サイト説明文が入ります。サイト説明文が入ります。サイト説明文が入ります。'

block content
  include include/_header.pug
  main(role='main')
    section
      .p-herobanner.u-overlay-black25
        .p-herobanner-picture
          picture
            //- source(type='image/webp' srcset='media/image/hero-sample-min.webp')
            source(media='(min-width:1200px)' srcset='https://picsum.photos/id/1015/1600/600')
            source(media='(min-width:768px)' srcset='https://picsum.photos/id/1015/1200/600')
            img(src='https://picsum.photos/id/1015/800/800' alt='hero image')
        .p-herobanner-contents.p-herobanner-contents--middle.p-herobanner-contents--center
          .p-herobanner-contents-text
            p.u-font-size-large.u-font-weight-bold.u-color-white とてもいい感じのタイトル
            p.u-color-white わかりやすく、それでいて心に刺さる。<br>人を動かすような補足テキスト。
            p
              a.c-button.c-button--white.c-button--pills(href='component-button.html') 次の行動を促すボタン
    section.u-bg-graylight
      .l-container
        .c-aleart.c-aleart--info
          p 
            span.u-font-weight-bold 【アラート表示】
            |いくつかのアラートコンポーネントを用意しています。
    section
      .l-container
        .u-text-center
          h2.u-space-top-0 NEWS
        .l-row
          article.l-col.l-col-md-4.c-article-box
            a(href='#')
              figure.u-figure-radius
                img(src='https://picsum.photos/id/1028/800/566' alt='sample')
              .c-article-box-meta
                time(datetime='2021-06-05') 2021.00.00
                span.c-label.c-label--small.c-label--blue お知らせ
              h3
                |記事タイトルが入ります、記事タイトルが入ります。
          article.l-col.l-col-md-4.c-article-box
            a(href='#')
              figure.u-figure-radius
                img(src='https://picsum.photos/id/1032/800/566' alt='sample')
              .c-article-box-meta
                time(datetime='2021-06-05') 2021.00.00
                span.c-label.c-label--small.c-label--blue お知らせ
              h3
                |記事タイトルが入ります、記事タイトルが入ります。
          article.l-col.l-col-md-4.c-article-box
            a(href='#')
              figure.u-figure-radius
                img(src='https://picsum.photos/id/1037/800/566' alt='sample')
              .c-article-box-meta
                time(datetime='2021-06-05') 2021.00.00
                span.c-label.c-label--small.c-label--blue お知らせ
              h3
                |記事タイトルが入ります、記事タイトルが入ります。
        .p-news-list
          ul
            li
              a(href='#')
                dl
                  dt
                    time(datetime='2021-06-05') 2021.00.00
                    span.p-news-list-label.u-bg-red サステナビリティ
                  dd お知らせテキスト入ります。お知らせテキスト入ります。お知らせテキスト入ります。お知らせテキスト入ります。
            li
              dl
                dt
                  time(datetime='2021-06-05') 2021.00.00
                  span.p-news-list-label.u-bg-blue お知らせ
                dd お知らせテキスト入ります。お知らせテキスト入ります。お知らせテキスト入ります。
            li
              dl
                dt
                  time(datetime='2021-06-05') 2021.00.00
                  span.p-news-list-label.u-bg-green 製品情報
                dd お知らせテキスト入ります。お知らせテキスト入ります。お知らせテキスト入ります。
        .u-text-center.u-space-top-2
          a.c-button.c-button--blue.c-button--pills(href='component.html') 次の行動を促すボタン
    section.u-bg-graylight
      .l-container
        .l-row
          .l-col.l-col-lg-6
            a.c-visualbox.u-overlay-black.u-ratiobox-horizontal.u-ratiobox-landscape--lg(href='about.html',style='background-image:url(https://picsum.photos/id/1042/500/500);')
              .c-visualbox-inner.c-visualbox-inner--center.c-visualbox-inner--middle
                h3 About
          .l-col.l-col-md-6
            a.c-visualbox.u-overlay-black.u-ratiobox-horizontal.u-ratiobox-landscape--lg(href='component.html',style='background-image:url(https://picsum.photos/id/1044/500/500);')
              .c-visualbox-inner.c-visualbox-inner--center.c-visualbox-inner--middle
                h3 Component
          .l-col.l-col-md-6.l-col-lg-4
            a.c-visualbox.u-overlay-black.u-ratiobox-horizontal.u-ratiobox-landscape--lg(href='project.html',style='background-image:url(https://picsum.photos/id/1051/500/500);')
              .c-visualbox-inner.c-visualbox-inner--center.c-visualbox-inner--middle
                h3 Project
          .l-col.l-col-md-6.l-col-lg-4
            a.c-visualbox.u-overlay-black.u-ratiobox-horizontal.u-ratiobox-landscape--lg(href='utility.html',style='background-image:url(https://picsum.photos/id/1058/500/500);')
              .c-visualbox-inner.c-visualbox-inner--center.c-visualbox-inner--middle
                h3 Utility
          .l-col.l-col-md-6.l-col-lg-4
            a.c-visualbox.u-overlay-black.u-ratiobox-horizontal.u-ratiobox-landscape--lg(href='theme.html',style='background-image:url(https://picsum.photos/id/1059/500/500);')
              .c-visualbox-inner.c-visualbox-inner--center.c-visualbox-inner--middle
                h3 Theme
