extends include/_layout.pug

block vars
  include include/_config.pug
  - var page = 'index'
  - var title = 'CSSフレームワーク'
  - var description = 'サイト説明文が入ります。サイト説明文が入ります。サイト説明文が入ります。サイト説明文が入ります。サイト説明文が入ります。サイト説明文が入ります。'

block content
  //- include include/_header.pug
  header(role='banner')
    .p-header
  main(role='main')
    section.u-bg-graylight
      .l-container
        .l-row
          .l-col-6
            h1 Hello,World!
            h2 h2text
            h3 h3text
            h4 h4text
          .l-col-6
            h1 Hello,World!
            h2 h2text
            h3 h3text
            h4 h4text
          
