extends include/_layout.pug

block vars
  include include/_config.pug
  - var page = 'seconde'
  - var title = '文字揃え'
  - var description = 'サイト説明文が入ります。サイト説明文が入ります。サイト説明文が入ります。サイト説明文が入ります。サイト説明文が入ります。サイト説明文が入ります。'

block content
  .theme-dashboard
    include include/_dashboard-header.pug
    .l-wrapper
      include include/_dashboard-navigation.pug
      main.l-main(role='main')
        section.u-bg-deeporange
          .c-pagetitle
            h1 Text align
        section
          .l-container
            h2 文字揃え
            p.u-text-left テキストを左寄せ
            p.u-text-center テキストを中央寄せ
            p.u-text-right テキストを右寄せ
            pre
              code
                :highlight(lang='html'):html-beautify(indent-size=2 inline=''):pug(doctype='html')
                  p.u-text-left テキストを左寄せ
                  p.u-text-center テキストを中央寄せ
                  p.u-text-right テキストを右寄せ
  link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/styles/monokai.min.css')
  script(src='//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/highlight.min.js')
  script.
    hljs.initHighlightingOnLoad();
