extends include/_layout.pug

block vars
  include include/_config.pug
  - var page = 'seconde'
  - var title = 'グラデーション背景'
  - var description = 'サイト説明文が入ります。サイト説明文が入ります。サイト説明文が入ります。サイト説明文が入ります。サイト説明文が入ります。サイト説明文が入ります。'

block content
  .theme-dashboard
    include include/_dashboard-header.pug
    .l-wrapper
      include include/_dashboard-navigation.pug
      main.l-main(role='main')
        section.u-bg-deeporange
          .c-pagetitle
            h1 Gradient
        section
          .l-container
            h2 グラデーション背景
            .l-row
              .l-col-xs-6.l-col-md-4
                .u-gradient-warmflame.u-ratiobox-square
                  span.u-position-central.u-color-white Warm Flame
              .l-col-xs-6.l-col-md-4
                .u-gradient-nightfade.u-ratiobox-square
                  span.u-position-central.u-color-white Night Fade
              .l-col-xs-6.l-col-md-4
                .u-gradient-springwarmth.u-ratiobox-square
                  span.u-position-central.u-color-white Spring Warmth
              .l-col-xs-6.l-col-md-4
                .u-gradient-juicypeach.u-ratiobox-square
                  span.u-position-central.u-color-white Juicy Peach
              .l-col-xs-6.l-col-md-4
                .u-gradient-youngpassion.u-ratiobox-square
                  span.u-position-central.u-color-white Young Passion
              .l-col-xs-6.l-col-md-4
                .u-gradient-ladylips.u-ratiobox-square
                  span.u-position-central.u-color-white Lady Lips
              .l-col-xs-6.l-col-md-4
                .u-gradient-sunnymorning.u-ratiobox-square
                  span.u-position-central.u-color-white Sunny Morning
              .l-col-xs-6.l-col-md-4
                .u-gradient-rainyashville.u-ratiobox-square
                  span.u-position-central.u-color-white Rainy Ashville
              .l-col-xs-6.l-col-md-4
                .u-gradient-frozendreams.u-ratiobox-square
                  span.u-position-central.u-color-white Frozen Dreams
              .l-col-xs-6.l-col-md-4
                .u-gradient-winterneva.u-ratiobox-square
                  span.u-position-central.u-color-white Winter Neva
              .l-col-xs-6.l-col-md-4
                .u-gradient-dustygrass.u-ratiobox-square
                  span.u-position-central.u-color-white Dusty Grass
              .l-col-xs-6.l-col-md-4
                .u-gradient-temptingazure.u-ratiobox-square
                  span.u-position-central.u-color-white Tempting Azure
              .l-col-xs-6.l-col-md-4
                .u-gradient-heavyrain.u-ratiobox-square
                  span.u-position-central.u-color-white Heavy Rain
              .l-col-xs-6.l-col-md-4
                .u-gradient-amycrisp.u-ratiobox-square
                  span.u-position-central.u-color-white Amy Crisp
              .l-col-xs-6.l-col-md-4
                .u-gradient-meanfruit.u-ratiobox-square
                  span.u-position-central.u-color-white Mean Fruit
              .l-col-xs-6.l-col-md-4
                .u-gradient-deepblue.u-ratiobox-square
                  span.u-position-central.u-color-white Deep Blue
              .l-col-xs-6.l-col-md-4
                .u-gradient-ripemalinka.u-ratiobox-square
                  span.u-position-central.u-color-white Ripe Malinka
              .l-col-xs-6.l-col-md-4
                .u-gradient-cloudyknoxville.u-ratiobox-square
                  span.u-position-central Cloudy
              .l-col-xs-6.l-col-md-4
                .u-gradient-malibubeach.u-ratiobox-square
                  span.u-position-central.u-color-white Malibu Beach
              .l-col-xs-6.l-col-md-4
                .u-gradient-newlife.u-ratiobox-square
                  span.u-position-central.u-color-white New Life
              .l-col-xs-6.l-col-md-4
                .u-gradient-truesunset.u-ratiobox-square
                  span.u-position-central.u-color-white True Sunset
              .l-col-xs-6.l-col-md-4
                .u-gradient-morpheusden.u-ratiobox-square
                  span.u-position-central.u-color-white Morpheus Den
              .l-col-xs-6.l-col-md-4
                .u-gradient-rarewind.u-ratiobox-square
                  span.u-position-central.u-color-white Rare Wind
              .l-col-xs-6.l-col-md-4
                .u-gradient-nearmoon.u-ratiobox-square
                  span.u-position-central.u-color-white Near Moon
              .l-col-xs-6.l-col-md-4
                .u-gradient-wildapple.u-ratiobox-square
                  span.u-position-central.u-color-white Wild Apple
              .l-col-xs-6.l-col-md-4
                .u-gradient-saintpetersburg.u-ratiobox-square
                  span.u-position-central.u-color-white Saint Petersburg
              .l-col-xs-6.l-col-md-4
                .u-gradient-ariellessmile.u-ratiobox-square
                  span.u-position-central.u-color-white Arielle's Smile
              .l-col-xs-6.l-col-md-4
                .u-gradient-plumplate.u-ratiobox-square
                  span.u-position-central.u-color-white Plum Plate
              .l-col-xs-6.l-col-md-4
                .u-gradient-everlastingsky.u-ratiobox-square
                  span.u-position-central.u-color-white Everlasting Sky
              .l-col-xs-6.l-col-md-4
                .u-gradient-happyfisher.u-ratiobox-square
                  span.u-position-central.u-color-white Happy Fisher
            pre
              code
                :highlight(lang='html'):html-beautify(indent-size=2 inline=''):pug(doctype='html')
                  .u-gradient-warmflame.u-ratiobox-square
                    span.u-position-central.u-color-white Warm Flame
                  .u-gradient-nightfade.u-ratiobox-square
                    span.u-position-central.u-color-white Night Fade
                  .u-gradient-springwarmth.u-ratiobox-square
                    span.u-position-central.u-color-white Spring Warmth
                  .u-gradient-juicypeach.u-ratiobox-square
                    span.u-position-central.u-color-white Juicy Peach
                  .u-gradient-youngpassion.u-ratiobox-square
                    span.u-position-central.u-color-white Young Passion
                  .u-gradient-ladylips.u-ratiobox-square
                    span.u-position-central.u-color-white Lady Lips
                  .u-gradient-sunnymorning.u-ratiobox-square
                    span.u-position-central.u-color-white Sunny Morning
                  .u-gradient-rainyashville.u-ratiobox-square
                    span.u-position-central.u-color-white Rainy Ashville
                  .u-gradient-frozendreams.u-ratiobox-square
                    span.u-position-central.u-color-white Frozen Dreams
                  .u-gradient-winterneva.u-ratiobox-square
                    span.u-position-central.u-color-white Winter Neva
                  .u-gradient-dustygrass.u-ratiobox-square
                    span.u-position-central.u-color-white Dusty Grass
                  .u-gradient-temptingazure.u-ratiobox-square
                    span.u-position-central.u-color-white Tempting Azure
                  .u-gradient-heavyrain.u-ratiobox-square
                    span.u-position-central.u-color-white Heavy Rain
                  .u-gradient-amycrisp.u-ratiobox-square
                    span.u-position-central.u-color-white Amy Crisp
                  .u-gradient-meanfruit.u-ratiobox-square
                    span.u-position-central.u-color-white Mean Fruit
                  .u-gradient-deepblue.u-ratiobox-square
                    span.u-position-central.u-color-white Deep Blue
                  .u-gradient-ripemalinka.u-ratiobox-square
                    span.u-position-central.u-color-white Ripe Malinka
                  .u-gradient-cloudyknoxville.u-ratiobox-square
                    span.u-position-central Cloudy
                  .u-gradient-malibubeach.u-ratiobox-square
                    span.u-position-central.u-color-white Malibu Beach
                  .u-gradient-newlife.u-ratiobox-square
                    span.u-position-central.u-color-white New Life
                  .u-gradient-truesunset.u-ratiobox-square
                    span.u-position-central.u-color-white True Sunset
                  .u-gradient-morpheusden.u-ratiobox-square
                    span.u-position-central.u-color-white Morpheus Den
                  .u-gradient-rarewind.u-ratiobox-square
                    span.u-position-central.u-color-white Rare Wind
                  .u-gradient-nearmoon.u-ratiobox-square
                    span.u-position-central.u-color-white Near Moon
                  .u-gradient-wildapple.u-ratiobox-square
                    span.u-position-central.u-color-white Wild Apple
                  .u-gradient-saintpetersburg.u-ratiobox-square
                    span.u-position-central.u-color-white Saint Petersburg
                  .u-gradient-ariellessmile.u-ratiobox-square
                    span.u-position-central.u-color-white Arielle's Smile
                  .u-gradient-plumplate.u-ratiobox-square
                    span.u-position-central.u-color-white Plum Plate
                  .u-gradient-everlastingsky.u-ratiobox-square
                    span.u-position-central.u-color-white Everlasting Sky
                  .u-gradient-happyfisher.u-ratiobox-square
                    span.u-position-central.u-color-white Happy Fisher
  link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/styles/monokai.min.css')
  script(src='//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/highlight.min.js')
  script.
    hljs.initHighlightingOnLoad();
