.u-gradient-warmflame {
  background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
}

.u-gradient-nightfade {
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}

.u-gradient-springwarmth {
  background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
}

.u-gradient-juicypeach {
  background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
}
.u-gradient-youngpassion {
  background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
}
.u-gradient-ladylips {
  background-image: linear-gradient(to top, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
}
.u-gradient-sunnymorning {
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}
.u-gradient-rainyashville {
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}
.u-gradient-frozendreams {
  background-image: linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%);
}
.u-gradient-winterneva {
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}
.u-gradient-dustygrass {
  background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
}
.u-gradient-temptingazure {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}
.u-gradient-heavyrain {
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}
.u-gradient-amycrisp {
  background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
}
.u-gradient-meanfruit {
  background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
}
.u-gradient-deepblue {
  background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
}
.u-gradient-ripemalinka {
  background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
}
.u-gradient-cloudyknoxville {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}
.u-gradient-malibubeach {
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}
.u-gradient-newlife {
  background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
}
.u-gradient-truesunset {
  background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
}
.u-gradient-morpheusden {
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}
.u-gradient-rarewind {
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}
.u-gradient-nearmoon {
  background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
}
.u-gradient-wildapple {
  background-image: linear-gradient(to top, #d299c2 0%, #fef9d7 100%);
}
.u-gradient-saintpetersburg {
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}
.u-gradient-ariellessmile {
  background-image: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
}
.u-gradient-plumplate {
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}
.u-gradient-everlastingsky {
  background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
}
.u-gradient-happyfisher {
  background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
}
