.u-width-1em {
  width: 1em;
}

.u-width-2em {
  width: 2em;
}

.u-width-3em {
  width: 3em;
}

.u-width-4em {
  width: 4em;
}

.u-width-5em {
  width: 5em;
}

.u-width-6em {
  width: 6em;
}

.u-width-7em {
  width: 7em;
}

.u-width-8em {
  width: 8em;
}

.u-width-9em {
  width: 9em;
}

.u-width-10em {
  width: 10em;
}

.u-width-10pct {
  width: 10%;
}

.u-width-20pct {
  width: 20%;
}

.u-width-30pct {
  width: 30%;
}

.u-width-40pct {
  width: 40%;
}

.u-width-50pct {
  width: 50%;
}

.u-width-60pct {
  width: 60%;
}

.u-width-70pct {
  width: 70%;
}

.u-width-80pct {
  width: 80%;
}

.u-width-90pct {
  width: 90%;
}
