.u-width-1em {
  width: 1em;
}

.u-width-2em {
  width: 2em;
}

.u-width-3em {
  width: 3em;
}

.u-width-4em {
  width: 4em;
}

.u-width-5em {
  width: 5em;
}

.u-width-6em {
  width: 6em;
}

.u-width-7em {
  width: 7em;
}

.u-width-8em {
  width: 8em;
}

.u-width-9em {
  width: 9em;
}

.u-width-10em {
  width: 10em;
}

.u-width-10pct {
  width: 10%;
}

.u-width-20pct {
  width: 20%;
}

.u-width-25pct {
  width: 25%;
}

.u-width-30pct {
  width: 30%;
}

.u-width-33pct {
  width: 33.3333%;
}

.u-width-40pct {
  width: 40%;
}

.u-width-50pct {
  width: 50%;
}

@include mq-sm {
  .u-width-sm-10pct {
    width: 10%;
  }

  .u-width-sm-20pct {
    width: 20%;
  }

  .u-width-sm-25pct {
    width: 25%;
  }

  .u-width-sm-30pct {
    width: 30%;
  }

  .u-width-sm-33pct {
    width: 33.3333%;
  }

  .u-width-sm-40pct {
    width: 40%;
  }

  .u-width-sm-50pct {
    width: 50%;
  }
}

@include mq-md {
  .u-width-md-10pct {
    width: 10%;
  }

  .u-width-md-20pct {
    width: 20%;
  }

  .u-width-md-25pct {
    width: 25%;
  }

  .u-width-md-30pct {
    width: 30%;
  }

  .u-width-md-33pct {
    width: 33.3333%;
  }

  .u-width-md-40pct {
    width: 40%;
  }

  .u-width-md-50pct {
    width: 50%;
  }
}

@include mq-lg {
  .u-width-lg-10pct {
    width: 10%;
  }

  .u-width-lg-20pct {
    width: 20%;
  }

  .u-width-lg-25pct {
    width: 25%;
  }

  .u-width-lg-30pct {
    width: 30%;
  }

  .u-width-lg-33pct {
    width: 33.3333%;
  }

  .u-width-lg-40pct {
    width: 40%;
  }

  .u-width-lg-50pct {
    width: 50%;
  }
}
