.l-container {
  width: 100%;
  max-width: $max-screen-width;
  margin: 0 auto;
  padding: $grid-gutter*1.5 $grid-gutter $grid-gutter*1.5;
  @include mq-lg {
    padding: $grid-gutter*2 $grid-gutter $grid-gutter*2;
  }
  &:after {
    content: '';
    display: block;
    clear: both;
  }
  > *:first-child {
    margin-top: 0;
  }
}

.l-container--narrow {
  max-width: $breakpoint-size-md;
}

.l-container--thin {
  padding: $spacer $grid-gutter;
}
